<h1>{{notification.event}}</h1>
Absorber: {{notification.payload.absorber}}
Collateral Absorbed: {{assetDetails.normalizedAmount}} {{assetDetails.symbol}}
USD Value: {{notification.payload.usdValue}}
<br/>
