<h1>{{notification.event}}</h1>
SupplyPaused: {{notification.payload.supplyPaused}}
TransferPaused: {{notification.payload.transferPaused}}
WithdrawPaused: {{notification.payload.withdrawPaused}}
AbsorbPaused: {{notification.payload.absorbPaused}}
BuyPaused: {{notification.payload.buyPaused}}

<br/>
